{% extends 'app/base.html' %}

{% block content %}
    <table class="ui large stackable striped gray padded table">
        <thead class="large">
            <tr>
                <th>{{tweets.0.user_name}}'s Tweets ({{tweets.0.user_screen_name}})</th>
            </tr
        ></thead>
            <tbody>
                {% for tweet in tweets %}
                <tr>
                    <td data-label="Tweet Text">{{ tweet.text}}</td>
                </tr>
                {%endfor %}
            </tbody>
    </table>
{% endblock %}